.component {
  display: block;
  margin-bottom: 35px;
}

.profile-image-avatar {
  max-width: 50px;
  border-radius: 50%;
}

.profile-image {
  max-width: 300px;
  border-radius: 15px;
}

.container-fluid {
  padding: 0 !important;
}

#homeContainer {
  min-height: 60vh;
}

.col {
  padding: 0 30px;
}
