<h2>Over deze applicatie</h2>
<h4 class="mt-5">Aanleiding:</h4>
<p>
  Wanneer er een geliefde overleden is, is dat natuurlijk enorm verdrietig. In
  deze emotioneel zware periode worden de naaste overbeladen met dingen die
  geregeld moeten worden. Iets wat opgezet moet worden is de uitvaart waarin
  vaak een presentatie wordt getoond met foto’s van de overledene. Het kan soms
  nog een grote klus zijn om goede foto’s op te sporen. In het geval wanneer
  iemand overlijdt zijn foto’s van de betreffende persoon extra waardevol voor
  de nabestaande en/of vrienden. <br /><br />
  Ook weten de nabestaande vaak niet met wie de overledene banden had opgebouwd
  in haar leven wat het bekendmaken van het overlijden lastiger maakt.
  <br /><br />Om dit probleem te verhelpen is het idee ontstaan van een
  webapplicatie waarin mensen uitvaarten kunnen aanmaken en deze publiceren.
  Daarnaast is het mogelijk om voor een uitvaart een gedenkpagina aan te maken
  waar mensen (met een account) herinneringen, foto’s, berichten of quotes
  kunnen plaatsen.
</p>

<h4 class="mt-4">ERD</h4>
<img src="assets/images/ERDNoSQLCasusv2.png" alt="ERD Casus" />

<h4>Gebruik scenario's</h4>
<p>
  Als gebruiker is het mogelijk om elkaar te volgen. Hierdoor kan je op de
  hoogte blijven van eventuele sterfgevallen bij een kennis. Daarnaast is het
  mogelijk om je eigen personen te beheren. Stel je vader of moeder is komen te
  overlijden is het niet handig om op hun account een uitvaart te publiceren
  aangezien er een grote kans is dat je geen wachtwoord hebt. Voor elk persoon
  kan er maximaal één uitvaart aangemaakt worden waarvoor ook maximaal één
  gedenkpagina aangemaakt kan worden. Op deze pagina kunnen andere gebruikers
  dingen posten en kan de eigenaar de berichten beheren of foto’s downloaden.<br /><br />
  Buitenstaande gebruikers kunnen een andere gebruiker, uitvaart, gedenkpagina
  en berichten bekijken. De persoonlijke pagina is niet te bekijken omdat hier
  te weinig informatie op zou staan en deze in een blokje bij de
  uitvaart/gedenkpagina geplaatst kan worden. Daarnaast is het voor hen alleen
  mogelijk om eigen berichten te bewerken.<br /><br />
  Voor bezoekers die niet ingelogd zijn is het bekijken van gebruikers,
  uitvaarten en gedenkpagina’s ook mogelijk, maar kunnen deze geen berichten
  plaatsen/bewerken.
</p>
