<h3>Gebruiker details</h3>
<div *ngIf="userExists">
  <p>
    <b>Id:</b> {{ user?._id }}<br />
    <b>Naam:</b> {{ user?.name }}<br />
    <b>Email:</b> {{ user?.email }}<br />
    <b>Tel:</b> {{ user?.phoneNumber }}<br />
    <b>Geboren:</b> {{ user?.birthday }}<br />
    <b>Geslacht:</b> {{ user?.gender }}<br />
  </p>

  <a routerLink=".." class="btn btn-primary">Terug</a>
  <a *ngIf="isUserProperty" routerLink="edit" class="btn btn-warning ms-3"
    >Wijzig</a
  >
</div>

<div *ngIf="!userExists">
  <span class="danger text-danger"
    >User met id: {{ componentId }} bestaat niet</span
  ><br />
  <a routerLink=".." class="btn btn-primary mt-2">Terug</a>
</div>
