<h3 class="mt-3">Persoon details:</h3>
<div *ngIf="personExists && isUserProperty">
  <img
    src="data:image/png;base64,{{ person!.imageBase64 }}"
    class="profile-image"
  />
  <p>
    <b>Naam:</b> {{ person!.name }}<br />
    <b>Geboren:</b> {{ dateToString(person!.birthday!) }}<br />
    <b>Overleden:</b> {{ dateToString(person!.deathday!) }} <br />
    <b>Geslacht:</b> {{ person!.gender }}
  </p>
  <a routerLink=".." class="btn btn-primary">Terug</a>
  <a *ngIf="isUserProperty" routerLink="edit" class="btn btn-warning ms-3"
    >Wijzig</a
  >
</div>

<div *ngIf="!personExists">
  <span class="danger text-danger"
    >Person with id: {{ componentId }} does not exists</span
  ><br />
  <a routerLink=".." class="btn btn-primary mt-2">Terug</a>
</div>
