<form *ngIf="funeralExists" name="form" (ngSubmit)="onEdit()" novalidate>
  <!-- Person -->
  <div class="form-group">
    <label for="person">Persoon</label>
    <select
      required
      name="person"
      id="person"
      class="form-control"
      [(ngModel)]="personId"
    >
      <option *ngFor="let person of persons" [value]="person._id">
        {{ person.name }}
      </option>
    </select>
  </div>

  <!-- Date -->
  <div class="form-group">
    <label for="dateTime">Datum</label>
    <input
      required
      type="date"
      name="dateTime"
      id="dateTime"
      class="form-control"
      [(ngModel)]="funeral!.dateTime"
      #dateTime="ngModel"
    />
  </div>
  <div class="alert alert-danger" *ngIf="dateTime.touched && !dateTime.valid">
    Datum is een verplicht veld!
  </div>

  <!-- Adress -->
  <div class="form-group">
    <label for="adress">Adres</label>
    <input
      required
      type="text"
      name="adress"
      id="adress"
      class="form-control"
      [(ngModel)]="funeral!.adress"
      #adress="ngModel"
    />
  </div>
  <div class="alert alert-danger" *ngIf="adress.touched && !adress.valid">
    Adres is een verplicht veld!
  </div>

  <!-- PostalCode -->
  <div class="form-group">
    <label for="postalCode">Postcode</label>
    <input
      required
      type="text"
      name="postalCode"
      id="postalCode"
      class="form-control"
      [(ngModel)]="funeral!.postalCode"
      #postalCode="ngModel"
    />
  </div>
  <div class="alert alert-danger" *ngIf="adress.touched && !adress.valid">
    Postcode is een verplicht veld!
  </div>

  <!-- City -->
  <div class="form-group">
    <label for="city">Stad</label>
    <input
      required
      type="text"
      name="city"
      id="city"
      class="form-control"
      [(ngModel)]="funeral!.city"
      #city="ngModel"
    />
  </div>
  <div class="alert alert-danger" *ngIf="city.touched && !city.valid">
    Stad is een verplicht veld!
  </div>

  <!-- Description -->
  <div class="form-group">
    <label for="description">Omschrijving</label>
    <input
      required
      type="text"
      name="description"
      id="description"
      class="form-control"
      [(ngModel)]="funeral!.description"
      #description="ngModel"
    />
  </div>
  <div class="alert alert-danger" *ngIf="adress.touched && !adress.valid">
    Omschrijving is een verplicht veld!
  </div>

  <!-- IsPrivate -->
  <div class="form-group">
    <label for="isPrivate">Is privé</label>
    <div class="form-check">
      <input
        type="radio"
        name="isPrivate"
        id="isPrivateYes"
        class="form-check-input"
        [(ngModel)]="isPrivate"
        value="true"
        checked
      />
      <label class="form-check-label" for="isPrivateYes">Ja</label>
    </div>
    <div class="form-check">
      <input
        type="radio"
        name="isPrivate"
        id="isPrivateNo"
        class="form-check-input"
        [(ngModel)]="isPrivate"
        value="false"
      />
      <label class="form-check-label" for="isPrivateNo">Nee</label>
    </div>
  </div>

  <div class="mt-5">
    <button class="btn btn-primary">Opslaan</button>
    <button class="btn btn-danger ms-3" (click)="onDelete()">Verwijder</button>
    <a routerLink=".." class="btn btn-secondary ms-3">Annuleer</a>
  </div>
</form>

<div *ngIf="!funeralExists">
  <span class="danger text-danger"
    >Uitvaart met Id {{ componentId }} bestaat niet</span
  ><br />
  <a routerLink="../.." class="btn btn-primary mt-2">Terug</a>
</div>
