<h2>Users</h2>
<h3>Welkom {{ email }}</h3>
<div *ngIf="!loggedIn" class="mt-3">
  <a routerLink="login" class="btn btn-primary">Login</a>
  <a routerLink="create" class="btn btn-secondary ms-2">Registreer</a>
</div>
<div *ngIf="loggedIn">
  <form name="logoutForm" (ngSubmit)="onLogOut()" class="mt-3">
    <button type="submit" class="btn btn-primary">Logout</button>
  </form>
</div>

<table class="table mt-2">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Naam</th>
      <th scope="col">Email</th>
      <th scope="col">Tel</th>
      <th scope="col">Geboren</th>
      <th scope="col">Geslacht</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" scope="row">
      <td>{{ user._id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ dateToString(user.birthday!) }}</td>
      <td>{{ user.gender }}</td>
      <td>
        <a routerLink="{{ user._id }}" class="btn btn-secondary">Details</a>
      </td>
    </tr>
  </tbody>
</table>
