<h2>Wijzingen persoon: {{ person?.name }}</h2>

<div *ngIf="personExists && isUserProperty">
  <form name="editForm" #editForm="ngForm" (ngSubmit)="onEdit()" novalidate>
    <!-- Name -->
    <div class="form-group">
      <label for="name">Naam</label>
      <input
        required
        type="text"
        name="name"
        id="name"
        class="form-control"
        [(ngModel)]="person!.name"
        #name="ngModel"
      />
    </div>
    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
      Naam is een verplicht veld
    </div>

    <!-- Birthday -->
    <div class="form-group">
      <label for="birthday">Geboren</label>
      <input
        required
        type="date"
        name="birthday"
        id="birthday"
        class="form-control"
        [ngModel]="person!.birthday | date : 'yyyy-MM-dd'"
        (ngModelChange)="person!.birthday = $event"
        #birthday="ngModel"
      />
    </div>
    <div class="alert alert-danger" *ngIf="birthday.touched && !birthday.valid">
      Geboortedatum is een verplicht veld!
    </div>

    <!-- Deathday -->
    <div class="form-group">
      <label for="deathday">Overleden</label>
      <input
        required
        type="date"
        name="deathday"
        id="deathday"
        class="form-control"
        [ngModel]="person!.deathday | date : 'yyyy-MM-dd'"
        (ngModelChange)="person!.deathday = $event"
        #deathday="ngModel"
      />
    </div>
    <div class="alert alert-danger" *ngIf="deathday.touched && !deathday.valid">
      Overlijdensdatum is een verplicht veld!
    </div>

    <!-- Gender -->
    <div class="form-group">
      <label for="gender">Geslacht</label>
      <select
        required
        name="gender"
        id="gender"
        class="form-control"
        [(ngModel)]="person!.gender"
      >
        <option *ngFor="let gender of genders" [value]="gender">
          {{ gender }}
        </option>
      </select>
    </div>

    <!-- Image -->
    <div class="form-group">
      <label class="image-upload-container">
        <label for="imageInput">Kies nieuwe afbeelding</label>
        <input
          id="imageInput"
          name="imageInput"
          #imageInput
          type="file"
          accept="image/*"
          (change)="handleFileSelect(imageInput)"
          class="form-control"
        />
      </label>
    </div>

    <div class="mt-5 d-flex flex-row">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!editForm.valid"
      >
        Wijzigen
      </button>
      <form name="deleteForm" (ngSubmit)="onDelete()">
        <button type="submit" class="btn btn-danger ms-2">Verwijderen</button>
      </form>
      <a routerLink=".." class="btn btn-secondary ms-2">Terug</a>
    </div>
  </form>

  <div class="mt-3">
    <span>{{ message }}</span>
  </div>
</div>

<div *ngIf="personExists && !isUserProperty">
  <span class="danger text-danger"
    >Je hebt geen rechten om deze persoon te wijzigen</span
  ><br />
  <a routerLink="../.." class="btn btn-primary mt-2">Terug</a>
</div>

<div *ngIf="!personExists">
  <span class="danger text-danger"
    >Person with id: {{ componentId }} does not exists</span
  ><br />
  <a routerLink="../.." class="btn btn-primary mt-2">Terug</a>
</div>
