<div class="d-flex flex-row mt-3" *ngIf="funeralExists">
  <div class="col-5 pt-4">
    <img
      src="data:image/png;base64,{{ funeral!.person?.imageBase64 }}"
      class="memorial-cover-image mb-3"
    />
    <h3>Uitvaart details:</h3>
    <div>
      <p>
        <b>Naam:</b> {{ funeral!.person?.name }}<br />
        <b>Geboren:</b> {{ dateToString(funeral!.dateTime!) }}<br />
        <b>Adres:</b> {{ funeral!.adress }} <br />
        <b>Postcode:</b> {{ funeral!.postalCode }} <br />
        <b>Stad:</b> {{ funeral!.city }} <br />
        <b>Omschrijving:</b> {{ funeral!.description }} <br />
        <b>Privé:</b> {{ funeral!.isPrivate ? 'Ja' : 'Nee' }} <br />
        <a routerLink="/users/{{ funeral?.userId }}">Autheur</a>
      </p>
      <a routerLink=".." class="btn btn-primary">Terug</a>
      <a *ngIf="isUserProperty" routerLink="edit" class="btn btn-warning ms-3"
        >Wijzig</a
      >
    </div>
  </div>
  <div
    class="col-7 d-flex justify-content-start bg-light p-5 pt-4"
    style="border-radius: 10px"
  >
    <app-memorial
      style="width: 100%"
      [isUserProperty]="isUserProperty"
      [funeral]="funeral"
    ></app-memorial>
  </div>
</div>

<div *ngIf="!funeralExists">
  <span class="danger text-danger"
    >Uitvaar met Id {{ componentId }} bestaat niet</span
  ><br />
  <a routerLink=".." class="btn btn-primary mt-2">Terug</a>
</div>
