<header class="p-4 mb-3 border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-light text-decoration-none"
      >
        <i class="bi bi-bootstrap"></i>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a
            routerLink=""
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="font-weight-bold"
            class="nav-link px-2 link-light"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/persons"
            routerLinkActive="font-weight-bold"
            class="nav-link px-2 link-light"
            >Mijn Personen</a
          >
        </li>
        <li>
          <a
            routerLink="funerals"
            routerLinkActive="font-weight-bold"
            class="nav-link px-2 link-light"
            >Uitvaarten</a
          >
        </li>
        <li>
          <a
            routerLink="users"
            routerLinkActive="font-weight-bold"
            class="nav-link px-2 link-light"
            >Gebruikers</a
          >
        </li>
        <li>
          <a
            routerLink="about"
            routerLinkActive="font-weight-bold"
            class="nav-link px-2 link-light"
            >Over</a
          >
        </li>
      </ul>

      <div class="text-end">
        <div class="d-flex flex-row" *ngIf="loggedIn | async">
          <img
            src="https://github.com/mdo.png"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          />
          <a
            *ngIf="loggedIn | async"
            class="btn btn-primary ms-2"
            [routerLink]="['users/', userId]"
            >Profiel</a
          >
          <form name="logOutForm" (ngSubmit)="onLogOut()">
            <button type="submit" class="btn btn-secondary ms-2">
              Uitloggen
            </button>
          </form>
        </div>
        <div *ngIf="!(loggedIn | async)">
          <a class="btn btn-primary" routerLink="users/login">Login</a>
          <a class="btn btn-secondary ms-2" routerLink="users/create"
            >Registreer</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
